/target/

/shelf/
/workspace.xml
/misc.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.classpath
.project
/.idea/
/.settings/
/documents/~$Item_Beslutstabell.xlsx

.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
